<!DOCTYPE html>
<!-- Template by html.am -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 </head>

<body>
    <header id="header">
        <div class="innertube">
            <h1>Welcome to {{ title }}</h1>
        </div>
    </header>
    <div id="mainwrapper">

        <div id="contentwrapper">
            <div id="content">
                <div class="innertube">
                    <h1>Heading</h1>
                    
                </div>
            </div>
        </div>

        <nav id="leftmenu">
            <div class="innertube">
                <i class="fa fa-bed fa_custom fa-10x"></i>
            </div>
        </nav>

        <nav id="rightmenu">
            <div class="innertube">
                <h3>Right heading</h3>
                <ul>
                    <li><i class="fa fa-bed"></i></li>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <footer id="footer">
        <div class="innertube">
            © 2018 Copyright: <a href="#">Ajay</a>
        </div>
    </footer>

</body>

</html>